.header {
  background-color: #0b1173;
  color: white;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center; /* centers the title */
  align-items: center;
}

.logo {
  height: 50px;
  position: absolute;
  left: 20px;
}

.header-title {
  margin: 0;
  font-size: 1.5rem;
}
